@page "/employee/panel"
@layout MainLayout
@using BrownOrchid.Gateways.Portal.Services.Dealer.Interfaces
@using BrownOrchid.Services.App.Data.Views

@inject IDealerService DealerService

<header class="masthead" style="background-image:url('/assets/img/intro-bg.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="margin: 35px;">Dealers</h1>
                    <div class="table-responsive" style="max-height: 600px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>E-mail</th>
                                <th>Phone number</th>
                                <th>Date registered</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var dealer in Dealers)
                            {
                                <tr>
                                    <td>@dealer.Id</td>
                                    <td>@dealer.Username</td>
                                    <td>@dealer.Email</td>
                                    <td>@dealer.PhoneNumber</td>
                                    <td>@dealer.RegistrationDate.Date.ToString()</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 style="margin: 35px;">Discounts</h1>
                    <div class="table-responsive" style="max-height: 600px;">
                        <table class="table">
                            <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th>Dealer Id</th>
                                <th>Discount Id</th>
                                <th>Amount</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody style="color: rgb(255,255,255);">
                            @foreach (var discount in Discounts)
                            {
                                <tr>

                                    <td>@discount.DealerId</td>
                                    <td>@discount.DiscountId</td>
                                    <td>@discount.Amount</td>
                                    <td>@discount.StartDate.Date.ToString()</td>
                                    <td>@discount.EndDate.Date.ToString()</td>
                                    <td>
                                        @discount.DiscountStatus.ToString()
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 style="margin: 35px;">Pos terminals</h1>
                    <div class="table-responsive" style="max-height: 600px;">
                        <table class="table">
                            <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th>Dealer Id</th>
                                <th>Terminal Id</th>
                            </tr>
                            </thead>
                            <tbody style="color: rgb(255,255,255);">

                            @foreach (var terminal in PosTerminals)
                            {
                                <tr>
                                    <td>@terminal.DealerId</td>
                                    <td>@terminal.TerminalId</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 style="margin: 35px;">waiting Discounts</h1>
                    <div class="table-responsive" style="max-height: 600px;">
                        <table class="table">
                            <thead style="color: rgb(255,255,255);">
                            <tr>
                                <th>Dealer Id</th>
                                <th>Discount Id</th>
                                <th>Amount</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody style="color: rgb(255,255,255);">
                            @foreach (var discount in WaitingDiscounts)
                            {
                                <tr>

                                    <td>@discount.DealerId</td>
                                    <td>@discount.DiscountId</td>
                                    <td>@discount.Amount</td>
                                    <td>@discount.StartDate.Date.ToString()</td>
                                    <td>@discount.EndDate.Date.ToString()</td>
                                    <td>
                                        <button type="button" class="btn btn-dark" @onclick="() => Approve(discount)">Approve</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@code {
    protected async override Task OnInitializedAsync()
    {
        Dealers = await DealerService.GetAllDealersAsync();
        Discounts = await DealerService.GetAllDiscountsAsync();
        WaitingDiscounts = await DealerService.GetAllWaitingDiscounts();
        PosTerminals = await DealerService.GetAllTerminalsAsync();
        StateHasChanged();
    }

    public List<DealerView> Dealers = new();

    public List<DiscountView> Discounts = new();

    public List<DiscountView> WaitingDiscounts = new();

    public List<PosTerminalView> PosTerminals = new();

    public async Task Approve(DiscountView entryView)
    {
        
    }

}